:root{

--primary:#c62828;

--secondary:#b71c1c;

--background:#edf2f7;

--card:#ffffff;

--text:#202124;

--shadow:0 8px 25px rgba(0,0,0,.08);

}

*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Inter,sans-serif;

}

body{

background:var(--background);

}

.layout{

display:flex;

min-height:100vh;

}

.sidebar{

width:270px;

background:var(--primary);

color:white;

display:flex;

flex-direction:column;

transition:.3s;

}

.sidebar-header{

display:flex;

gap:15px;

padding:25px;

align-items:center;

}

.logo{

width:55px;

height:55px;

border-radius:50%;

background:white;

color:var(--primary);

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

}

.sidebar nav{

display:flex;

flex-direction:column;

padding:10px;

}

.sidebar nav a{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px;

margin:4px 0;

text-decoration:none;

color:white;

border-radius:10px;

transition:.25s;

}

.sidebar nav a:hover{

background:rgba(255,255,255,.15);

}

.main{

flex:1;

display:flex;

flex-direction:column;

}

.main-header{

height:70px;

background:white;

box-shadow:var(--shadow);

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

}

#menuButton{

font-size:25px;

border:none;

background:none;

cursor:pointer;

}

.content{

padding:35px;

}

.card{

background:white;

border-radius:15px;

padding:30px;

box-shadow:var(--shadow);

}

@media(max-width:900px){

.sidebar{

position:fixed;

left:-280px;

height:100%;

z-index:999;

}

.sidebar.show{

left:0;

}

.main{

width:100%;

}

}
