<aside class="sidebar" id="sidebar">

    <div class="sidebar-header">

        <div class="logo">

            🚒

        </div>

        <div>

            <h2>APP BOMBEROS</h2>

            <span>Sistema Integral</span>

        </div>

    </div>

    <nav>

        <a href="../dashboard/dashboard.html">

            <i class="fas fa-house"></i>

            Dashboard

        </a>

        <a href="../index.html">

            <i class="fas fa-fire-extinguisher"></i>

            Emergencias

        </a>

        <a href="#">

            <i class="fas fa-truck-medical"></i>

            APH

            <small>Próximamente</small>

        </a>

        <a href="#">

            <i class="fas fa-box-open"></i>

            Ayudas Humanitarias

        </a>

        <a href="#">

            <i class="fas fa-building-shield"></i>

            Inspecciones

        </a>

        <a href="#">

            <i class="fas fa-chart-column"></i>

            Estadísticas

        </a>

    </nav>

</aside>
